$darkblue: #525E75;
$lightgrey: #F0F0F0;

.navbar__container {
  width: 100%;
  background-color: $darkblue;

  .navbar__wrapper {
    margin: 0 auto;
    max-width: 1660px;
    height: 80px;
    display: flex;
    align-items: center;

    h1 {
      color: $lightgrey;
      text-transform: uppercase;
    }
  } 
}
