@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$cream: #F1DDBF;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $cream;
  font-family: 'Inter', sans-serif;
}

.body__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .grid__container {
    width: 100%;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
    justify-content: space-between;
  }
}
